@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PT-Sans/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/PT-Sans/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/*common */

.page {
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #333333;
    background-color: #F2F2F2; 
}



.page-body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    background-color: white;
}

.page-main {
    flex-grow: 1;
    
}

/* header */

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
}



.navigation-list {
    margin: 0;
    padding: 0;

    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.navigation-link {

    color: #000000;
    text-decoration: none;
  
}

.navigation-user {
    width: 264px;
    margin-left: auto;
}

.navigation-user-button {
    text-decoration: none;
}

.icon-button-counter {
    font-size: 10px;
    line-height: 13px;
    color: #000000;
}

/* footer */

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-contacts-phone {
    color: #000000;
    font-size: 40px;
    
    line-height: 40px;
   
    font-style: normal;
    text-decoration: none;

}

/* main */

.welcome {
    color: #FFFFFF;
    background-color:#83B3D3;
    background-image: url("../images/background/index-background.jpg");
    background-size: cover;
    width: 1200px;
    height: 485px;
    padding: 0;
    margin: 0;
}

.welcome-title {
    margin: 51px 371px 25px 371px;
}

.welcome-white {
    margin: auto 0;
}

.section-title-container
{
    width: 720px;
    margin: 0 auto;
    text-align: center;

}

.agvantages-container {
    display: flex;
}

.advantages-list {
    text-align: center;
    width: 1200px;
    margin: 0;
    padding: 0;
}
.advantages-list-inner {
    color: #333333;
    background-color: #FFFFFF;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
    background-color: rgba(131, 179, 211, 0.2);
  
}

.advantages-item-large {
    color: #ffffff;
    background-color: #83B3D3;
  
}

.advantages-list-inner .advantages-item:nth-child(even) {
    background-color: #ffffff;
  
}



.advantages-title {
    
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #000000;
    
}

.advantages-item-large > .advantages-title {
    color: #ffffff;
  
}


.advantages-text {
    
    line-height: 21px;
      

}

.filter {
    color: #FFFFFF;
    background-color: #83B3D3;
    background-image: url("../images/background/catalog-background.jpg");
    background-size: cover;
    
    padding: 35px 71px 83px;
    
}

.main-inner {
    padding:  0;
}

.main-inner-title {
    margin: 0;

    font-size: 60px;
    line-height: 78px;
   
}

.breadcrumbs {
    font-size: 16px;
    padding: 0;
    margin: 0;
  
}



.section-title {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.section-description {
    
    font-size: 22px;
    line-height: 36px;

}

.field-input {
    font-family: inherit;
    font-size: 18px;

    background-color: #F2F2F2;
}



.range-input {
    color: #FFFFFF;
    background-color: transparent;

    font-family: inherit;
    font-size: 18px;
}

.range-title {
    opacity: 0.3;
}

.catalog {
    margin: 0;
    padding: 0 72px;
}

.catalog-sort {
    display: flex;
    justify-content: space-between;
}


.find-hotels {
    width: 50%;
    margin: 0;
    
}

.sorting-type {
    width: 287px;
    margin-right: auto;
}

.view {
    margin: 0;
    padding: 0;
}
.hotel-card-title {
    font-size: 24px;
    line-height: 31px;
}
.hotel-card-link {

    text-decoration: none;
    color: #000000;
    
}

.hotel-card-rate {
   
    font-size: 16px;
    text-transform: uppercase;

}

/* pagination */

.pagination-nav {
    display: flex;
    justify-content: space-between;
}
.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.pagination-link {
    color: #FFFFFF;
    background-color: #83B3D3;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;

}

.button-pagination {
    width: 620px;
    margin: 0 218px;

}

.pagination-select {
    display: flex;
}



.subscribe {
    text-align: center;
}
.subscribe-primary .section-title {
    color: #ffffff;
  
}
  
.subscribe-primary {

    color: #ffffff;
    background-color: #83B3D3;
    background-image: url("../images/background/background.jpg");
    background-size: cover;
 
}

.button-reset {
    color: #ffffff;
    background-color: transparent;

    font-family: inherit;
    font-size: 18px;
}

.catalog-filter {
    display: flex;
}

.catalog-filter-title {
    
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    

}
.catalog-filter-group {
    margin: 0;
    padding: 0;
    margin-right: 17px;
    width: 200px;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
}

.filter-fieldset-price {
    margin-left: 95px;
    width: 287px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-left: 65px;
}



/* button */
.button {
    color: #FFFFFF;
    background: #83B3D3;
    
    font-family: inherit;
    border-radius: 4px;
    
    font-size: 16px;
    font-weight: 700;
   
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
} 

.button-secondary {
    background-color: #756257;
}

.button-large {
    font-size: 20px;
}